@font-face {
  font-family: 'Manege';
  font-style: normal;
  font-weight: 300;
  src: local('Sloth'),
       url('fonts/manege-light.woff2') format('woff2'),
       url('fonts/manege-light.woff') format('woff');
}