.feedback {
  display: block;
  position: relative;

  width: $width-wide;
  max-width: calc(100% - 2rem);

  margin: 1.5rem auto 0;
  background-color: $color-excerpt;
  border-radius: 0.5rem;

  form {
    display: block;
    position: relative;

    width: $width-content;
    max-width: 100%;
    margin: 0 auto;
    padding: 4rem 2rem;

    font-weight: 300;
    line-height: 1.25;

    label {
      display: block;

      font-size: 2.25rem;
      font-weight: 300;
      font-style: normal;

      color: $color-primary;

      @media screen and (max-width: 479px) {
        font-size: 1.875rem;
      }
    }

    fieldset {
      display: block;
      position: relative;

      width: 100%;
      margin: 1rem 0 0;
      padding: 0;
    }

    input {
      display: block;
      outline: none;

      width: 100%;
      height: 3.25rem;
      padding: 0 0.75rem;

      font-family: $font-inputs;
      font-size: 1.25rem;

      color: $color-foreground;
      background-color: $color-background;

      border: 0;
      border-radius: 0.5rem;

      &:focus {
        background-color: lighten($color-background, 2.5);
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      outline: none;
      cursor: pointer;

      width: 2.5rem;
      height: calc(100% - 1rem);

      font-family: $font-inputs;
      font-size: 2rem;

      color: $color-primary;
      background-color: $color-foreground;

      border: 0;
      border-radius: 0.25rem;

      &:focus {
        color: $color-foreground;
        background-color: $color-primary;
      }
    }

    @media screen and (max-width: 479px) {
      padding: 2rem 1.5rem;
    }
  }
}