.footer {
  display: block;
  position: relative;

  width: $width-wide;
  max-width: calc(100% - 2rem);

  margin: 3.25rem auto 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 4.5rem;
  line-height: 1;

  span {
    display: block;
    padding: 1.5rem 0 0.5rem;
    border-top: solid 1px;

    &:last-child {
      border-bottom: solid 1px;
    }

    @media screen and (max-width: 767px) {
      padding: 0;
      border-top: 0;
    }
  }

  figure a {
    display: inline-block;
    position: relative;

    &::after {
      content: '';

      position: absolute;
      bottom: calc(-0.5rem - 1px);
      left: 0;

      width: 100%;
      height: 1px;

      background-color: $color-primary;
      transition: opacity 0.25s;

      @media screen and (max-width: 767px) {
        bottom: -1px;
      }
    }

    &:hover::after {
      opacity: 0;
    }

    @media screen and (max-width: 767px) {
      display: block;

      em {
        border-color: $color-primary;
      }
    }
  }

  strong {
    font-weight: 300;
    font-style: normal;

    color: $color-primary;
  }

  em {
    font-weight: 300;
    font-style: normal;

    @media screen and (max-width: 767px) {
      display: block;
      padding: 1.25rem 0 0.25rem;
      border-top: solid 1px $color-foreground;
    }
  }

  & > a {
    display: block;

    width: 10rem;
    max-width: 100%;
    height: auto;
    margin: 3.25rem auto;
  }

  img {
    display: block;

    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 1299px) {
    font-size: 5.25vw;
  }

  @media screen and (max-width: 767px) {
    font-size: 7vw;
  }
}